.profile {
    margin:auto auto;
    
    color:white;
    font-size:30px;

}

.profile img {
    width: 250px;
    border-radius: 50%;
}

.profile ul {
    
    list-style: none;
    line-height: 40px;
    padding-left: 0;
    
}

fieldset {
    border: none;
}

.profile button{
    display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid white;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size:20px;
  font-weight:300;
  color: white;
  background-color:transparent;
  /* background-color: #b47eb3; */
  /* background-color: #f0e68c; */
  text-align:center;
  transition: all 0.2s;
  margin-top: 50px;
}

.profile-events {
    display: flex;
}

.profile-events p {
    padding-top: 5%;
}

.profile-event {
    width: 250px;
    line-height: 0px;
    text-align: center;
    border: 1px solid white;
    padding-bottom: 5%;
    margin-left: 5px;
    margin-right: 5px;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.profile-event:hover{
    opacity: 0.5;
    cursor: pointer;
}

.event button:hover{
    cursor: pointer;
}