@import url("https://fonts.googleapis.com/css?family=Roboto");

.footer{
  width: auto;
  background-color: black;
  padding: auto;
}

#author {
  color: white;
  text-align: center;
}

.copyright-text{
  color:white;
  width: auto;
  margin: auto;
  text-align: center;
  padding:15px;
}