.event-form{
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.event-form input{
    margin: auto;
}

#event_details {
    margin-bottom: 20px;
}

.date_picker{
    margin-right:15px;
    color:white;
}

.date_picker input{
    margin-top:5px;
    height:20px;
}