.event-form{
    width: auto;
    margin: auto;
    text-align: center;
    /* margin-bottom: 50px; */
    background-color: white;
    padding: 20px;
}

.event-form select {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    display: block;
    font-size: 1.1em;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
  
    border-radius: 4px;
}
.create-event-btn {
    margin: auto;
    padding: auto;
}
.cancel-btn {
    margin: auto;
    padding: auto;
}
fieldset {
    border: 0;
}
select {
    margin: auto;
    padding: auto;
}