@import url("https://fonts.googleapis.com/css?family=Lato&display=swap" );

.event-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(25, 25, 25, .3);
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
}

fieldset {
    margin: 0;
    padding: 0;
}

.event-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#event_name, .rc-time-picker input, .react-datepicker-wrapper input{ 
    padding-left: 5px;
}

Label, Input, select, .rc-time-picker-input {
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 13em;
    border-radius: 5px;
    height: 35px;
}
.Textarea {
    font-size: 20px;
    padding-left: 5px;
    margin: 0;
    width: 13em;
    border-radius: 5px;
    height: 35px;
}

#event_name, select, .rc-time-picker, .react-datepicker-wrapper, .Textarea {
    margin-bottom: 5%;
}

.select-state, select {
    background: white;
}

Label {
    margin-bottom: 1%;
}
.is-private-label {
    margin-bottom: 8%;
}
 
.event-form input {
    margin-bottom: 1%;
}

.Textarea {
    height: 100px;
}

.event-form h3 {
    color: white;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}

.event-form button {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5%;
    width: 10.5em;
}

.event-form .create-event-btn {
    margin-top: 10%;
}

.event-form .create-event-btn:hover, .cancel-btn:hover, .select-state:hover, .is_private:hover {
    cursor: pointer;
}

.date_picker{
    margin-right:15px;
    color:white;
}

.date_picker input{
    margin-top:5px;
    height:20px;
}



@media(min-width: 500px) {
    Label, Input, select, .rc-time-picker-input, .Textarea  {
        width: 15em;
    }
    .event-form button {
        width: 12em
    }
}
@media(min-width: 800px) {
    Label, Input, select, .rc-time-picker-input, .Textarea  {
        width: 16em;
    }
    .event-form button {
        width: 13em
    }
    .event-form {
        margin: 10%;
    }
    Label {
        font-size: 25px;
    }
}