
.dashboard {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 80px;
    margin-top: 40px;
}

.dashboard-pic {
    position: relative;
    margin: auto;
    padding-top: 40px;
}

.picture-carousel {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin: auto;
    /* overflow: hidden; */
}

.picture-carousel img {
    width:  250px;
    height: 220px;
    border: 2px solid white;
}

.picture-carousel h3{
    color:white;
}

.eventify_link_button a{
    display:inline-block;
    border:0.1em solid white;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size:20px;
    font-weight:300;
    color: white;
    background-color:transparent;
    text-align:center;
    transition: all 0.2s;
    margin-top: 10px;
}

.btn {
    color: black;
    width: fit-content;
    margin: auto;
    font-size: 30px;
    border: none;
    background: none;
}

.left-btn {
    left: -70%;
    top: 60%;
}
.right-btn {
    right: -15%;
    bottom: 45%;
}

.create_event_container{
    margin: auto;
}

.create_event {
    width: 200px;
    margin: auto;
}

.create_event a {
    text-align: center;
    color: white;
    border:0.1em solid white;
    width: fit-content;
    padding: 3%;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size:20px;
    font-weight:300;
    color: white;
    background-color:transparent;
    text-align:center;
}

.upcoming-event-title {
    margin: auto;
    text-align: center;
    width: fit-content;
    color: white;
    font-size: 30px;
    padding: 2%;
}

.upcoming-events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

.dashboard-events {
    width: 250px;
    text-align: center;
    font-size: 18px;
    border: 1px solid white;
    padding: 3%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 100px;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.dashboard-events:hover {
    opacity: 0.5;
}

.dashboard-events a {
    text-decoration: none;
    color: white;
}

.eventify-message { color: white; }

@media(min-width:600px){
    
}