.dashboard {
    display: flex;
    flex-direction: column;
}

.picture-carousel {
    margin: auto;
}

.picture-carousel img {
    border: 1px solid black;
}



.btn {
    width: fit-content;
    margin: auto;
}