.eventify-form {
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    text-align: center;
}

.eventify-form select {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    display: block;
    font-size: 1.1em;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
  
    border-radius: 4px;
}
.cancel-btn {
    margin: auto;
    padding: auto;
}
.choose-event-btn {
    margin: auto;
    padding: auto;
}